.page-father {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-page {
  padding-top: 100px;
  width: 90%;
  height: 70vh;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid gray;
  position: relative;
  background: var(--light) /*  yellow */;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
