.page-father {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-page {
  padding-top: 100px;
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid gray;
  position: relative;
  padding-bottom: 55px;
  background: var(--light) /*  yellow */;
}
