.panel-body {
  height: 220px;
  border-bottom: 0.2px solid rgb(163, 163, 163);
  background: white;
  padding-top: 30px;
}

.panel-body-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0px 5px;
  align-items: baseline;
}

.panel-body-list-item {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0 0;
}

.panel-body-list-item img {
  width: 50px;
}
.caption {
  font-size: 12px;
  text-align: center;
}
