.option-content {
  display: flex;
  height: 45px;
  align-items: center;
  padding: 0 0 0 12px;
  font-size: 16px;
}

.f-i {
  flex: 12%;
  font-size: 25px;
}

.single-option .option-text {
  align-items: baseline;
  flex: 88%;
  display: flex;
  padding-bottom: 12px;
  margin-bottom: -12px;
  border-bottom: 1px solid var(--light-gray);
}
.option-text p {
  flex: 90%;
}

.option-text .s-i {
  flex: 10%;
  font-size: 25px;
  color: var(--gray);
}

.option {
  background: white;
  margin-top: 8px;
  height: 45px;
  border-bottom: 1.5px solid var(--light-gray);
  border-top: 1px solid var(--very-light-gray);
}
.option .option-text {
  align-items: baseline;
  flex: 88%;
  display: flex;
  padding-bottom: 12px;
  margin-bottom: -12px;
}

@media only screen and (min-width: 450px) {
  .f-i {
    flex: 10%;
  }
  .single-option .option-text {
    flex: 90%;
  }
  .option .option-text {
    flex: 90%;
  }
  .option-text p {
    flex: 95%;
  }
  .option-text .s-i {
    flex: 5%;
  }
}
@media only screen and (min-width: 800px) {
  .f-i {
    flex: 5%;
  }
  .single-option .option-text {
    flex: 95%;
  }
  .option .option-text {
    flex: 95%;
  }
  .option-text p {
    flex: 97%;
  }
  .option-text .s-i {
    flex: 3%;
  }
}
